@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<markdown text="# With surrounding tag!" surrounding-tag="div" />
<markdown text="# With surrounding tag and css class!" surrounding-tag="div" surrounding-class="sample-class" />
<markdown text="# Without surrounding tag!" />
