@{
    ViewData["Title"] = "Home Page";
}

<h1>Some markdown Samples</h1>

<markdown text="# With surrounding tag!" surrounding-tag="div" />
<markdown text="# With surrounding tag and css class!" surrounding-tag="div" surrounding-class="sample-class" />
<markdown text="# Without surrounding tag!" />

<markdown>
# Inline Markdown  
- List 1
- List 2
> text

| abc | def | 
|---|---|
| cde| ddd| 
| eee| fff|
| fff | fffff   | 
|gggg  | ffff | 

</markdown>